.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.taskComplete {
  text-decoration: line-through;
  opacity: 0.5;
}
.task {
  font-weight: bold;
}
.error {
  color: red;
}
.error-message {
  color: red;
}
.active-filter {
  background-color: lightgreen;
}
.is-Done {
  opacity: 0.5;
}